<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>



<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

  <h1>DART</h1>
  <br>
<h2 style="text-align:center">Come join the worlds most exclusive darts network. </h2>
<br>
<br>

<div class="row">
  <div class="column">
    <img src="https://image.ibb.co/fVxSj7/image.png" alt="image" border="0" class="resize">
  </div>
  <div class="column">
    <br>
    <h3><%= link_to 'Sign Up', new_user_registration_path %> | <%= link_to 'Login', new_user_session_path %> </h3>
    <br>
    <p style="margin:20px;">I'm flying to China and Japan - if you think Beckham is a big name, you should see me there. </p>
    <p style="margin:20px;">  - Phil 'The Power' Taylor </p>
  </div>
</div>

</body>
</html>
