#toggleThis {
  background: green;
  color: coral;
  padding: .5em 1.5em;
  top: 5;
 	outline: none;
 	background: transparent;
 	border: 1px solid #d6dce0;
 	border-radius: 1.5em;
 	&:hover {
 		border: 1px solid green;
 		color: green;
 		a {
 			color: green !important;
 		}
 	}
}

html, body {
  margin: 0;
  padding: 0
}


body {
 font-family: Avenir Book;
 font-size: 15px;
 color: #4E387E;
 background-color: #FBF6D9;
 /* background-image: url("Best-Electronic-Dart-Board.jpg"); */
 text-align: center;
}

h1 {
font-size: 80px;
letter-spacing: 5px;
font-weight: 100;
color: #E82900;
background-image: url("Best-Electronic-Dart-Board.jpg");
margin: 50px;
z-index: -1
}

.round-image-50 {
  background-color: white;
  border: 1px solid #red;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  img { width: 100% }
}
#headerBar {
  height: 60px;
  background: coral;
  position: fixed;
  position: relative;
  width: 100%;
  display: none;

  /* z-index: -1 */
}
#footerBar {
  height: 40px;
  background: green;
  position: relative;
  /* bottom: 0; */
  width: 100%;
  color: white;
  /* z-index: -1 */
}

#all-posts {
text-align: center;;
margin: auto;
width: 45%;
border: solid 8px;
border-color: #404B69;
padding: 20px;
border-radius: 25px;
}
#new-post {
text-align: center;;
margin: auto;
width: 45%;
border: solid 8px;
border-color: coral;
padding: 20px;
border-radius: 25px;
}
